@layer base {
  :root {
    --font-display: Inter, Arial, Helvetica, sans-serif;

    --background: rgb(255 255 255);
    --background-active: rgba(40, 66, 96, 0.1);

    --foreground: rgb(40 66 96);
    --foreground-muted: rgb(110, 133, 159);

    --muted-background: rgb(157 157 157);
    --muted-foreground: rgb(255 255 255);
    --muted-active: rgb(105 105 105);

    --shadow: rgba(0, 0, 0, 0.2);

    --accent-shadow-color: 28, 167, 200;
    --accent-shadow-opacity: 0.3;

    --primary: rgb(28 167 200);
    --primary-active: rgb(10 160 195);
    --primary-foreground: rgb(255 255 255);

    --secondary: rgb(40 66 96);
    --secondary-active: rgb(30 50 70);
    --secondary-foreground: rgb(255 255 255);

    --accent-shadow: rgba(28, 167, 200, 0.3);
    --accent: rgb(140 97 213);
    --accent-to: rgb(28 167 200);
    --accent-gradient: linear-gradient(
      to right,
      var(--accent),
      var(--accent-to)
    );
    --border: rgb(197 192 200);
    --danger-background: rgb(255 234 234);
    --danger-foreground: rgb(230 57 70);
    --input-placeholder: rgba(40, 66, 96, 0.5);
  }

  .dark {
    --background: #01080e;
    --background-active: rgba(40, 66, 96, 0.1);

    --foreground: rgb(242 240 242);
    --foreground-muted: #d7f9ff;

    --muted-background: rgb(94 95 99);
    --muted-foreground: rgb(255 255 255);
    --muted-active: rgb(105 105 105);

    --shadow: rgba(0, 0, 0, 0.2);

    --primary: #2bdefd;
    --primary-active: rgb(10 160 195);
    --primary-foreground: #01080e;

    --secondary: #d7f9ff;
    --secondary-active: rgb(30 50 70);
    --secondary-foreground: #01080e;

    --accent-shadow: rgba(28, 167, 200, 0.3);
    --accent: rgb(140 97 213);
    --accent-to: rgb(28 167 200);
    --accent-gradient: linear-gradient(
      to right,
      var(--accent),
      var(--accent-to)
    );

    --border: rgb(127 129 133);
    --danger-background: rgb(230 57 70);
    --danger-foreground: rgb(255 234 234);
    --input-placeholder: rgb(255 255 255);
  }
}
