@layer utilities {
  .max-w-content {
    max-width: 1191px;

    @media (max-width: 1200px) {
      max-width: 1200px;
    }
  }

  .inline-padding {
    padding-inline: 1rem;
  }

  .full-height-with-header {
    min-height: calc(100dvh - 174px);

    @media (max-width: 600px) {
      height: unset;
    }
  }
}
